.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color:#29303F;
    margin: 0 0 20px;
    border: none;
    padding: 25px 10px;
    box-sizing: border-box;
}
h1{
    text-transform: uppercase;
    color: #DCD9D8;
    font-size: 34px;
    margin-top:0;
}
input{
    padding: 10px 8px;
    text-align: left;
    outline: none;
    background-color: #29303F;
    border: none;
    border-bottom: 2px solid #DCD9D8;
    color: #DCD9D8;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    width: 250px;
}
::-webkit-input-placeholder { /* Edge */
    color: #DCD9D8;
    font-weight: 600;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #DCD9D8;
    font-weight: 600;
  }
  
  ::placeholder {
    color: #DCD9D8;
    font-weight: 600;
  }
  @media(max-width: 410px){
    .wrapper{
      width: 100%;
  }
  h1{
    font-size: 26px;
  }
  input{
    font-size: 14px;
    width: 200px;
  }
  }